body {
  background-color: #FCBCA4;
}

.listElem > * {
  margin: 0px;
  margin-left: 5px;
}

#bd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: aliceblue;
}

.listElem {
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-color: aliceblue;
  background-color: aliceblue;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}